:root {
    --black: #323333;
    --black2: #2a2b2b;
    --piel: #ffbeb8 ;
    --white:#f5f9fa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}
body{
    background-color: var(--white);

}
h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

/* .header {
    width: 100%;
    height: 60vh;
    background: linear-gradient(var(--black), var(--black2));
    text-align: center;
    position: relative;
    overflow: hidden;
    ;
}
.header-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.header__img{
    height: 70rem;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    opacity: .2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;

}

.header__div{
    display: flex;
    width: 100%;
    height: 60vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header--h1 {
    color: white;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.header--h3 {
    font-size: 1.8rem;
    color: white;
    letter-spacing: 0.4rem;
} */
.header{
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(/assets/Img/header__img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container__capa{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 10, 0.70) ;
    
    
    
}
.capa__content img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 15px;
    border-radius: 2px solid #000;
}

.capa__content h1{
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white);
}

.capa__content h2{
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--white);
}
.capa__content h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 10px;
    color: var(--white);
}

.nav {
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    height: 55px;
    background-color: #00d9c0;
    box-shadow: 0 0 10px 1px #000;



}

.nav-div span {
    color: black;
}

.nav-div {
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: space-around;

}

.nav-div ul {
    display: flex;
    list-style: none;
}

.nav-div li {
    margin-left: 10px;
}

.nav-div a {
    text-decoration: none;
    padding: 10px;

}

.nav-div__item {
    color: black;
    border-radius: 50px;
    padding: 0.3rem;
}

.nav-div__item a {
    color: black;

}

.nav-div__item:hover {
    background-color: #ffbeb8;
    color: black;


}



.section {
    width: 100%;
    min-height: 70vh;
    margin-top: 2rem;

}

section h2 {
    text-align: center;
    margin-bottom: 2rem
}

.section--container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container--box {
    display: flex;
    width: 30rem;
    height: 20rem;
    background-color: #f3f3f3;
    border: 1px solid black;
    margin: 1rem 3rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 25px;

}
.section-Object{
    width: 100%;
    
}



.container-Object {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-between;
}
.container-img img {
    width: 225px;
    border-radius: 20px;

}

.container-text{
    margin-left: 25px;
    font-size: 1.6rem;
}
.container-text h3 {
    font-size: 3rem;
}

.container-a{
    margin-top: 25px;
}

.container-a a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px;
    
}
.container-a__color{
    background-color: var(--piel);
}

